<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAtQxz8VHjt2UUkHzNZBZPCvh4wSuiSzNQ</string>
	<key>GCM_SENDER_ID</key>
	<string>173257298828</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.randeru.app</string>
	<key>PROJECT_ID</key>
	<string>randeru-29e21</string>
	<key>STORAGE_BUCKET</key>
	<string>randeru-29e21.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:173257298828:ios:bace127e735cc4e7133ca9</string>
</dict>
</plist>